$primary-color: #336913;
$secondary-color: #dddddd;
$color_1: #2d9444;
$color_2: #85bb50;
$color_3: #a7cc05;
$bg-partner: #f5f8fa;
$bg-event: #f5faf8;
$color-sponsor: #112d63;
$bg-table-th: #e0f6ff;
$bg-table-td: #f8fdff;
$bg-footer-tb: #518bbb;
$table-border: #abebff;
$bg-footer: #1d4009;
