@use "../../utils/mixins" as *;
@use "../../utils/variable" as *;

#partner {
    background-color: $bg-partner;
    padding: {
        top: 2.5rem;
        bottom: 2.5rem;
    }

    .container {
        @include layoutResponsif(repeat(1, 1fr), 1.5rem);

        figure {
            @include image(fit-content, 40px);
            justify-self: center;
        }
    }
}

@media (min-width: 575.98px) {
    #partner {
        .container {
            @include layoutResponsif(repeat(2, 1fr), 1.5rem);
        }
    }
}

@media (min-width: 768px) {
    #partner {
        .container {
            @include layoutResponsif(repeat(3, 1fr), 2rem);
        }
    }
}

@media (min-width: 992px) {
    #partner {
        .container {
            @include layoutResponsif(repeat(6, 1fr), 0);
        }
    }
}
